@{
    ViewData["Title"] = "Home Page";
}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ut consequuntur nesciunt optio illum odio, veritatis fugit similique, numquam blanditiis corporis consequatur quibusdam, adipisci at hic qui tenetur deserunt nam!</p>