@{
    ViewData["Title"] = "Home Page";
}


@* <div class="row">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
    <div class="col">
        Columna 4
    </div>
</div>
<div class="row">
    <div class="col">
        Columna 1
    </div>
    <div class="col-8">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
</div>

<h2>Ejemplo Vertical</h2>
<div class="row">
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 1
    </div>
</div>

<h4>Ejemplo 1: Alineando la fila</h4>
<div class="row align-items-center">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
</div>
<h4>Ejemplo 2: Alineando la fila horizontalmente</h4>
<div class="row">
    <div class="col align-self-start">
        Columna 1
    </div>
    <div class="col align-self-center">
        Columna 2
    </div>
    <div class="col align-self-end">
        Columna 3
    </div>
</div>

<h4>Ejemplo 3: Offset</h4>
<div class="row">
    <div class="col-3">
        Columna 1
    </div>
    <div class="col-3 offset-1">
        Columna 2
    </div>
    <div class="col-3 offset-1">
        Columna 3
    </div>
</div>

<h4>Ejemplo 4: Automargen</h4>
<div class="row">
    <div class="col-3">
        Columna 1
    </div>
    <div class="col-3 ms-auto">
        Columna 2
    </div>
</div> *@

@* <h4>Ejemplo 5: Gutter Horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 6: Gutter Vertical</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-2">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>
<h4>Ejemplo 7: Gutter Horizontal y Vertical</h4>
<div class="row g-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div> *@

<h4>Ejemplo 8</h4>
<div class="row gy-0">
    <div class="col-sm-3">
        <img class='img-fluid' src="https://i.scdn.co/image/ab6761610000e5eb3e0a5fbc871b4020abb789d7" alt="">
    </div>
    <div class="col-sm-3">
        <img class='img-fluid' src="https://i.scdn.co/image/ab6761610000e5eb3e0a5fbc871b4020abb789d7" alt="">
    </div>
    <div class="col-sm-3">
        <img class='img-fluid' src="https://i.scdn.co/image/ab6761610000e5eb3e0a5fbc871b4020abb789d7" alt="">
    </div>
    <div class="col-sm-3">
        <img class='img-fluid' src="https://i.scdn.co/image/ab6761610000e5eb3e0a5fbc871b4020abb789d7" alt="">
    </div>
</div>

<h4>Ejemplo 9: Imagen tipo thumbnail</h4>
<img class="img-thumbnail rounded-circle" src="https://media.vogue.mx/photos/5e2e2b110fe3b40009e41377/4:3/w_2000,h_1500,c_limit/Rosali%CC%81a--premios-grammy-2020-vestido-rojo-de-cuero.jpg" alt="">

